.sets-list .exerciceHeader {    
    width: calc(100%-20px);
    width: auto;
    margin-left: 20px;
}

.sets-list.editing .exerciceHeader {
    width: calc(100%-80px);
    width: auto;
    margin-left: 80px;
}

.repHeader, .setHeader {
    margin: 0 10px 0 10px !important;
    max-width: 40px;
    text-align: center;
}

.sets-list .headerContainer {
    padding-right: 16px;
}

.sets-list.editing .headerContainer {
    padding-right: 78px;
}

.list-header-lines-inset {
    --inner-border-width: 0;
}

.sets-list ion-item:nth-child(even) {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
}

.gridHeader {
    padding-left: 21px;
    padding-right: 21px;

    height: 60px;
    line-height: 45px;

    background-color: rgba(var(--ion-color-primary-rgb), .8);
    color: #fff;
}

.sets-list ion-col {
    border-left: 2px solid #1C6EA4;
}