.sets-list .exerciceHeader {
    width: calc(100%-20px);
    width: auto;
    margin-left: 20px;
}

.sets-list.editing .exerciceHeader {
    width: calc(100%-80px);
    width: auto;
    margin-left: 80px;
}

.repHeader, .setHeader {
    margin: 0 10px 0 10px !important;
    max-width: 40px;
    text-align: center;
}

.sets-list .headerContainer {
    padding-right: 16px;
}

.sets-list.editing .headerContainer {
    padding-right: 78px;
}   

.sets-list ion-row:nth-child(even) {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
    background: rgba(var(--ion-color-primary-rgb), 0.1);
}

.sets-list ion-row:last-child {
    border-bottom: 2px solid var(--ion-color-primary-80perc);
}

.sets-list>ion-grid {
    padding: 0;
    margin: 0;
}

.gridHeader {
    height: 60px;
    line-height: 45px;
    background-color: var(--ion-color-primary-80perc);
    color: #fff;
    text-align: center;
}


.sets-list ion-col:not(:last-child) {
    border-right: 2px solid var(--ion-color-primary-80perc);
}