.ion-content {
    position: relative;
    width: 100%;
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#pause-button {
    --border-radius: 999px;
    --padding-end: 0px;
    --padding-start: 0px;
    /* height: 60px;
    width: 60px; */
    width: 36px;
    padding: 0;
}

#skip-button {
    flex: 1;
}

.buttons {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    margin: 0 auto;
}

.buttons {
    display: flex;
}

.buttons>ion-button {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* height: 60px; */
}

.buttons>ion-button:last-child {
    padding-left: 20px;
}