ion-content .informations {
  height: calc(100% - 90px);
}

ion-content .informations *:not(:last-child) {
  margin-bottom: 30px;
}

/* https://codepen.io/istiaktridip/pen/BZqaOd */

/* .success-animation {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50, -50%);
  margin: 0 auto;
} */

/** * Extracted from: SweetAlert * Modified by: Istiak Tridip */

:root {
  --main-color: var(--ion-color-primary);
  --main-color-half: rgba(var(--ion-color-primary-rgb), 0.1);
  --width: 80px;
  --height: calc(--width * 1.4375);
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.flex-item:nth-child(1) {
  order: 0;
  flex: 0 1 100%;
  align-self: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item:nth-child(2) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

/** * Extracted from: SweetAlert * Modified by: Istiak Tridip */

.success-checkmark {
  width: var(--width);
  height: var(--height);
  margin: 0 auto;
}

.success-checkmark .check-icon {
  width: var(--width);
  height: var(--width);
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: calc(var(--width) * 0.05) solid var(--main-color);
}

.success-checkmark .check-icon::before {
  top: calc(var(--width) * 0.0375);
  left: calc(var(--width) * -0.025);
  width: calc(--width * 0.375);
  transform-origin: 100% 50%;
  border-radius: calc(var(--width) * 1.25) 0 0 calc(var(--width) * 1.25);
}

.success-checkmark .check-icon::after {
  top: 0;
  left: calc(--width * 0.375);
  width: calc(--width * 0.75);
  transform-origin: 0 50%;
  border-radius: 0 calc(var(--width) * 1.25) calc(var(--width) * 1.25) 0;
  animation: rotate-circle 4.25s ease-in;
}

.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: '';
  height: calc(--width * 1.25);
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
}

.success-checkmark .check-icon .icon-line {
  height: calc(var(--width) * 0.0625);
  background-color: var(--main-color);
  display: block;
  border-radius: calc(var(--width) * 0.025);
  position: absolute;
  z-index: 10;
}

.success-checkmark .check-icon .icon-line.line-tip {
  top: calc(var(--width) * 0.575);
  left: calc(var(--width) * 0.175);
  width: calc(var(--width) * 0.3125);
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}

.success-checkmark .check-icon .icon-line.line-long {
  top: calc(var(--width) * 0.475);
  right: calc(var(--width) * 0.1);
  width: calc(var(--width) * 0.5857);
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}

.success-checkmark .check-icon .icon-circle {
  top: calc(var(--width) * -0.05);
  left: calc(var(--width) * -0.05);
  z-index: 10;
  width: var(--width);
  height: var(--width);
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: calc(var(--width) * 0.05) solid var(--main-color-half);
}

.success-checkmark .check-icon .icon-fix {
  top: calc(var(--width) * 0.1);
  width: calc(var(--width) * 0.0625);
  left: calc(var(--width) * 0.325);
  z-index: 1;
  height: calc(var(--width) * 1.0625);
  position: absolute;
  transform: rotate(-45deg);
  background-color: #fff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: calc(var(--width) * 0.0125);
    top: calc(var(--width) * 0.2375);
  }
  54% {
    width: 0;
    left: calc(var(--width) * 0.0125);
    top: calc(var(--width) * 0.2375);
  }
  70% {
    width: calc(var(--width) * 0.625);
    left: calc(var(--width) * -0.1);
    top: calc(var(--width) * 0.4625);
  }
  84% {
    width: calc(var(--width) * 0.2125);
    left: calc(var(--width) * 0.2625);
    top: calc(var(--width) * 0.6);
  }
  100% {
    width: calc(var(--width) * 0.3125);
    left: calc(var(--width) * 0.175);
    top: calc(var(--width) * 0.5625);
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: calc(var(--width) * 0.575);
    top: calc(var(--width) * 0.675);
  }
  65% {
    width: 0;
    right: calc(var(--width) * 0.575);
    top: calc(var(--width) * 0.675);
  }
  84% {
    width: calc(var(--width) * 0.6875);
    right: 0;
    top: calc(var(--width) * 0.4375);
  }
  100% {
    width: calc(var(--width) * 0.5875);
    right: calc(var(--width) * 0.1);
    top: calc(var(--width) * 0.475);
  }
}