.pre-page-tile {
    text-align: center !important;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 200;
}

.page-title {
    text-align: center !important;
    font-size: 26px;
}

.page-header {
    text-align: center !important;
    margin-top: 40px;
}

.center-container {
    position: relative;
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

ion-button.action {
    --border-radius: 999px;
    width: 200px;
    height: 36px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    text-transform: none;
}

/* source: Google material design elevation shadow https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f */

.elevationFirstLevel {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

/* source: Google material design elevation shadow https://gist.github.com/serglo/f9f0be9a66fd6755a0bda85f9c64e85f */

.elevationFirstLevelColored {
    box-shadow: 0 1px 1px 0 rgba(var(--ion-color-primary-rgb), 0.8), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

ion-toolbar {
    --background: var(--ion-color-primary);
    color: white;
}

.hr {
    border-top: 1px solid black;
}

.debug-hr-center:after {
    content:"";
    position: absolute;
    z-index: 50;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #ff0000;
    transform: translate(-50%);
  }