.set-input .ion-input {
    background: #323232;
    border-radius: 3px;
    padding-left: 10px;
    /* text-align: center; */
}

.ion-input {
    margin: 0 0 0 15px;
    width: 100%;
}

.ion-input * {
    width: 100%;
}

.set-list-header .exercice-header {
    margin-left: 80px;
    width: calc(100%-80px);
}

.rename-button, .rename-input {
    display: inline-block;
}

.rename-button, .validate-rename-button {
    vertical-align: middle;
    float: right;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 500;
}

.rename-input {
    width: auto;
}

.rename-button ion-icon {
    margin-left: 10px;
}

.page-title {
    position: relative;
}

ion-input#rename-input {
    color: var(--ion-color-primary);
}

/* A disabled ion input has 40% of opacity. Let's prevent that behaviour */

ion-input#rename-input .native-input[disabled].sc-ion-input-md {
    opacity: 1;
}