.workout-item {
    margin: 0px 30px;
    margin-top: 20px;
}
.workout-item hr {
    border-top: 2px solid rgba(var(--ion-color-primary-rgb), 1);
}

.workout-name {
    margin-top: 15px;
}

.workout-item .stat {
    color: #6b6b6b;
    text-align: center;
}