.setContainer .input.number {
    padding: 8px;
}

.setContainer .native-input:not([disabled]).sc-ion-input-md {
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #f4f2f4;
}

.setContainer .native-input[disabled].sc-ion-input-md {
    opacity: 1;
}

.setContainer ion-row, .setContainer ion-col {
    padding: auto 0;
}

.setContainer ion-label {
    line-height: 39px;
}

.setContainer ion-label {
    margin-right: 20px;
}

.setContainer .input.number {
    min-width: 30px;
    width: auto;
}

.setContainer .inputLabel {
    width: 60px;
    --color: grey !important;
    /* font-style: italic; */
}

.setContainer ion-col.action>ion-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 100%;
}