.sets-list-editing>ion-row:nth-child(odd) {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
    background: rgba(var(--ion-color-primary-rgb), 0.1);
}
.sets-list-editing>ion-row:last-child {
    border-bottom: 2px solid var(--ion-color-primary-80perc);
}

/* .sets-list-editing ion-col:not(:last-child) {
    border-right: 2px solid var(--ion-color-primary-80perc);
} */

.gridHeader {
    height: 60px;
    line-height: 60px;
    background-color: var(--ion-color-primary-80perc);
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
}

.gridHeader ion-label {
    text-overflow: ellipsis;
}


ion-grid.sets-list-editing-grid {
    padding: 0;
    margin: 0;
}

.sets-list-editing-grid .setLabel {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.setTooltip {
    padding: 10px;
}