.setContainer ion-input.input {
    text-align: center;
    margin: 0 10px;
    border-radius: 3px;
    width: 100%;
}

.setContainer ion-input.input.number>span {
    width: auto;
}

.setContainer .input.number, .input.number>input {
    max-width: 40px !important;
}

.setContainer .input.text>input {
    text-align: left;
    padding: 10px;
}

.native-input[disabled].sc-ion-input-md {
    opacity: 1;
    --background: var(--ion-background-color);
}