ion-input.input {
    --background: var(--ion-color-light);
    text-align: center;
    margin: 0 10px;
    border-radius: 3px;
    width: 100%;
}

ion-input.input.number>span {
    width: auto;
}

.input.number, .input.number>input {
    max-width: 40px !important;
}

.input.text>input {
    text-align: left;
    padding: 10px;
}