.exerciceHeader {
    margin-left: 80px;
    width: calc(100%-80px);
    width: auto;
}

.repHeader, .setHeader {
    margin: 0 10px 0 10px !important;
    max-width: 40px;
    text-align: center;
}

.headerContainer {
    padding-right: 16px;
}

.list-header-lines-inset {
    --inner-border-width: 0;
}

.sets-list ion-item:nth-child(even) {
    --background: rgba(var(--ion-color-primary-rgb), 0.1);
}